<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>776904834145-md60dae37ggdbc700pcd3hp2roiliolo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776904834145-md60dae37ggdbc700pcd3hp2roiliolo</string>
	<key>API_KEY</key>
	<string>AIzaSyBBK61KvONSwgSjrEadrlJDlVsMs1IgkyA</string>
	<key>GCM_SENDER_ID</key>
	<string>776904834145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.thgdigital.bemTrajado</string>
	<key>PROJECT_ID</key>
	<string>bem-trajado</string>
	<key>STORAGE_BUCKET</key>
	<string>bem-trajado.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:776904834145:ios:1bdb518a0f9a2e85</string>
	<key>DATABASE_URL</key>
	<string>https://bem-trajado.firebaseio.com</string>
</dict>
</plist>
